<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/nav'); %>
        <div class="container">
            <div class="err-log">
                찾으시는 페이지가 도망갔네요!
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </body>
</html>