<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/nav'); %>
        <div class="container">
            <div class="err-log">
                사이트에 거대한 오류가 생긴거 같네요.. 미안!
            </div>
        </div>
        <%- include('../partials/footer'); %>
    </body>
</html>